.header {
  position: absolute;
  top: 1.5vw;
  left: 50%;
  transform: translateX(-50%);
}

.header-left {
  position: absolute;
  top: 1.5vw;
  left: 7.5vw;
}

.click-div {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.countdown-timer {
  font-size: 9vw;
  line-height: 160px;
  margin: 0;
}

.stopwatch-column {
  text-align: center;
  overflow-y: scroll;
  max-height: 80vh;
}

.stopwatch-timer {
  font-size: 7.5vw;
  line-height: 160px;
  margin: 0;
}

.stopwatch-laps {
  padding: 0 0 0 1vw;
  list-style-type: none;
}

.stopwatch-lap {
  font-size: 2vw;
  line-height: 60px;
  padding: 0 1vw 0 1vw;
  text-align: right;
  border-bottom: 1px solid #d9dae0;
}

.stopwatch-lap strong {
  float: left;
  font-weight: 100;
}

.stopwatch-lap strong::before {
  content: "Lap ";
}

.btn {
  display: inline-block;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.4vw;
  outline: none;
  width: 6vw;
  height: 6vw;
  margin: 2vw;
  padding: 0;
  border: 0;
}

.start-btn {
  color: white;
  font-weight: 600;
  background-color: #4bd761;
}

.stop-btn {
  color: white;
  font-weight: 600;
  background-color: #fd3d2a;
}

.clock {
  font-size: 13vw;
}

.bar {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 0px 20vw 0px rgba(0, 0, 0, 0.8);
  padding-top: 2vw;
  padding-bottom: 2vw;
  height: 100vh;
  right: 0;
}

.bar-header {
  font-size: 2.2vw;
  margin-bottom: 1vw;
  margin-top: 1.5vw;
}

.bar-input {
  height: 100%;
  width: 100%;
  font-size: 1.8vw;
  border-radius: 5vw;
  padding: 0px 1.5vw;
  border-style: unset;
}

.bar-btn {
  font-size: 1.8vw;
  border-radius: 5vw;
  padding: 0px 1vw;
  border-style: unset;
  background: #4bd761;
  color: white;
}

.bar-text {
  position: absolute;
  font-size: 1.4vw;
  bottom: 1vw;
  right: 5vw;
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"] + img {
  margin-top: 2vw;
  margin-bottom: 2vw;
  height: auto;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

[name="sound"] + img {
  margin-top: 2vw;
  margin-bottom: 2vw;
  height: auto;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

[type="radio"]:checked + img {
  box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.5);
}

[name="sound"]:checked + img {
  border-radius: 50%;
  box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.5);
}

.background-select {
  width: 100vw;
}

.background-img {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
}

.sound-select {
  width: 60vw;
}

.sound-img {
  border-radius: 50%;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 1vw;
}
