body {
  background-color: #282c34;
  font-family: "Kanit", sans-serif;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.App-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0;
  margin: 0;
}

.App-link {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0.2vw solid rgba(255, 255, 255, 0.6);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  text-decoration: unset;
  border-radius: 5vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
  font-size: 2.5vw;
  padding: 1vw;
  color: white;
  width: 35vw;
  transition: all 0.2s ease-in-out;
}

.App-link:hover {
  background-color: rgba(190, 190, 190, 0.5);
  border: 0.2vw solid rgba(190, 190, 190, 0.6);
  text-decoration: unset;
  color: white;
  transform: scale(1.05);
}

.App-clock {
  position: absolute;
  font-size: 2vw;
  top: 1vw;
  right: 1vw;
  color: white;
}

.App-back {
  position: absolute;
  top: 1vw;
  left: 1vw;
  border-radius: 50%;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
}

.App-back:hover {
  transform: scale(1.1) rotate(10deg);
}

.App-customize {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  border-radius: 50%;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
}

.App-customize:hover {
  transform: scale(1.1) rotate(10deg);
}

.rc-time-picker {
  height: 100% !important;
}

.rc-time-picker-panel * {
  text-shadow: 0px 0px black !important;
}

.rc-time-picker-input {
  font-size: 1.8vw !important;
  border-radius: 5vw !important;
  padding: 0px 1.5vw !important;
  border-style: unset !important;
  height: 100% !important;
}

.swal-title {
  text-shadow: 0px 0px black !important;
}

.swal-text {
  text-shadow: 0px 0px black !important;
}

.toasts-container {
  text-shadow: 0px 0px black !important;
}
